@page "/"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using CanvasComponent.Convertors;
@using CanvasComponent.Facade;
@using CanvasComponent.Model;
@using CanvasComponent.View;
@inject CanvasFacade CanvasFacade;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p style="margin-bottom: 1rem;">
    Welcome to your new app.
</p>

<FluentDesignSystemProvider FillColor="#D6D6D6">
    <FluentCard neutral-palette-source="#CABA8C">
        <Canvas Facade="@CanvasFacade"  />
    </FluentCard>
</FluentDesignSystemProvider>


