@inherits LayoutComponentBase

<PageTitle>Client</PageTitle>

<div class="d-flex flex-column h-100 w-100">
    <div class=" h-100 w-100">
        <div class=" h-100 w-100">
            <div class=" h-100 w-100">

                <ErrorBoundary>
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent Context="ex">
                        <p class="error">@ex.Message</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        </div>
    </div>
</div>