<div class="simple-form" >
    <div class="form-group"  @onkeydown="OnKeyDown">
        <FluentTextField @ref="testRef" Appearance="Appearance.Outline" @bind-Value="@Room.Name">Room name:</FluentTextField>
    </div>
    <FluentButton Appearance="Appearance.Neutral" @onclick="() => ModalInstance.CloseAsync()">Submit</FluentButton>
</div>
